HostBServerClient/Connected Services/Client/HostAServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HostAServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HostA" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHostAServices_CreateTreeNode_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTreeNode" />
  </wsdl:message>
  <wsdl:message name="IHostAServices_CreateTreeNode_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTreeNodeResponse" />
  </wsdl:message>
  <wsdl:message name="IHostAServices_CheckAuditProof_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuditProof" />
  </wsdl:message>
  <wsdl:message name="IHostAServices_CheckAuditProof_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckAuditProofResponse" />
  </wsdl:message>
  <wsdl:portType name="IHostAServices">
    <wsdl:operation name="CreateTreeNode">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostAServices/CreateTreeNode" message="tns:IHostAServices_CreateTreeNode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostAServices/CreateTreeNodeResponse" message="tns:IHostAServices_CreateTreeNode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckAuditProof">
      <wsdl:input wsaw:Action="http://tempuri.org/IHostAServices/CheckAuditProof" message="tns:IHostAServices_CheckAuditProof_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHostAServices/CheckAuditProofResponse" message="tns:IHostAServices_CheckAuditProof_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHostAServices" type="tns:IHostAServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateTreeNode">
      <soap:operation soapAction="http://tempuri.org/IHostAServices/CreateTreeNode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckAuditProof">
      <soap:operation soapAction="http://tempuri.org/IHostAServices/CheckAuditProof" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HostAServices">
    <wsdl:port name="BasicHttpBinding_IHostAServices" binding="tns:BasicHttpBinding_IHostAServices">
      <soap:address location="http://localhost:8090/HostAApi" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>