HostBServerClient/Connected Services/Client/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HostA" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HostA" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAuditProofDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuditProofDetails" nillable="true" type="tns:AuditProofDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuditProofDetails" nillable="true" type="tns:ArrayOfAuditProofDetails" />
  <xs:complexType name="AuditProofDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direction" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hash" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuditProofDetails" nillable="true" type="tns:AuditProofDetails" />
</xs:schema>