HostBServerClient/Connected Services/Client/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8090/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HostA" />
  <xs:element name="CreateTreeNode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nodeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTreeNodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTreeNodeResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuditProof">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toProof" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckAuditProofResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HostA" minOccurs="0" name="CheckAuditProofResult" nillable="true" type="q1:ArrayOfAuditProofDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>